<div id="subTabStrip3">
    <ul>
        <li class="k-state-active">PCA Info</li>
        <li>Enrollment</li>
        <li>Students</li>
        <li>AIMS Scores</li>
    </ul>
    <div>
        <!-- <div id="infoGridArea"></div> -->
    </div>
    <div>
        <!-- <div class="demo-section k-content">
            <div id="enrollmentChartArea"></div>
        </div> -->
    </div>
    <div>
        <!-- <div class="demo-section k-content">
            <div id="studentDemoChartArea"></div>
        </div> -->
    </div>
    <div>
        <!-- <div id="aimsChartArea"></div> -->
    </div>
</div>
<!-- end subTabStrip3 -->